includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 5

    ignoreErrors:

    excludePaths:
        - app/App/Nova/Resource.php
        - app/Support/WeservImages/WeservImages.php

    checkMissingIterableValueType: false
